<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>作业提交</title>
<link rel="shortcut icon" href="img/study.png"/>
</head>

<link rel="stylesheet" href="css/bootstrap-grid.css" type="text/css"/>
<link rel="stylesheet" href="css/bootstrap-reboot.css" type="text/css"/>
<link rel="stylesheet" href="css/bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="css/dcstyle.css" type="text/css"/>
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.bundle.js"></script>

<script type="text/javascript">
	
</script>

<body>
		<nav class="navbar navbar-fixed-top navbar-dark bg-dark navbar-expand-sm"> 
			<div class="container-fluid">
				<a href="#" class="navbar-brand" style="margin-left:-30px;border-left:#515151;border-left-width: 30px;border-left-style: solid;"> 
					<font color="#FFFFFF" size="5px">作业提交系统<font class="dcnavbar-bfont" size="3px" style="padding-left:10px">Powered by zxy</font></font>
				</a> 
				<ul class="navbar-nav dcnavbar-font">
					<!-- NavBar Header -->
					<li class="nav-item dcnav-item">
						<a href="index.html" class="nav-link">作业提交</a></li>
					<li class="nav-item dcnav-item">
						<a href="search.html" class="nav-link">查询记录</a>
					</li>
				</ul>
			</div>
		</nav>
	
	<div class="container" style="padding-top:30px;">
		<div class="jumbotron">
			<h4 class="display-4">上传错误，请重新输入！</h4>
			<p class="lead">请认真查看填写要求，上传正确格式的文档。</p>
		</div>
	</div>
	
</body>
</html>
